In [18]:
import pandas as pd
df = pd.read_csv('AviationData.csv', encoding = 'mac_roman', low_memory = False)

In [19]:
df.drop(['Event.Id', 'Air.carrier', 'Latitude', 'Longitude', 'Airport.Code', 'Injury.Severity', 'Schedule', 'Purpose.of.flight'], axis=1, inplace = True)

In [20]:
amateur_built = df['Amateur.Built'] == 'Yes'
df = df[~amateur_built]

In [21]:
df['Amateur.Built'].value_counts()

Amateur.Built
No    80312
Name: count, dtype: int64

In [22]:
df = df[df['Aircraft.Category'] == 'Airplane']

In [23]:
df['Aircraft.Category'].value_counts()

Aircraft.Category
Airplane    24434
Name: count, dtype: int64

In [25]:
df['Model'].isna().sum()

18

In [27]:
df.dropna(subset = ['Make', 'Model'], inplace = True)

In [28]:
df['Make'].isna().sum()

0

In [29]:
incidents = df['Investigation.Type'] == 'Incident'
df = df[~incidents]

In [30]:
df['Investigation.Type'].value_counts()

Investigation.Type
Accident    22787
Name: count, dtype: int64

In [33]:
df = df.drop(columns = 'Amateur.Built')

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22787 entries, 5 to 88886
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Investigation.Type      22787 non-null  object
 1   Accident.Number         22787 non-null  object
 2   Event.Date              22787 non-null  object
 3   Location                22784 non-null  object
 4   Country                 22780 non-null  object
 5   Airport.Name            15249 non-null  object
 6   Aircraft.damage         22333 non-null  object
 7   Aircraft.Category       22787 non-null  object
 8   Registration.Number     22636 non-null  object
 9   Make                    22787 non-null  object
 10  Model                   22787 non-null  object
 11  Number.of.Engines       20972 non-null  float64
 12  Engine.Type             19682 non-null  object
 13  FAR.Description         22509 non-null  object
 14  Total.Fatal.Injuries    20132 non-null  float64
 15  Total.Serious.Injuries  20051 non-null  float64
 16  Total.Minor.Injuries    20330 non-null  float64
 17  Total.Uninjured         22099 non-null  float64
 18  Weather.Condition       20840 non-null  object
 19  Broad.phase.of.flight   5630 non-null   object
 20  Report.Status           19088 non-null  object
 21  Publication.Date        22050 non-null  object
dtypes: float64(5), object(17)
memory usage: 4.0+ MB

In [35]:
currentheaders = list(df.columns.values)
df.columns = [c.replace('.', ' ').title() for c in currentheaders]

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22787 entries, 5 to 88886
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Investigation Type      22787 non-null  object
 1   Accident Number         22787 non-null  object
 2   Event Date              22787 non-null  object
 3   Location                22784 non-null  object
 4   Country                 22780 non-null  object
 5   Airport Name            15249 non-null  object
 6   Aircraft Damage         22333 non-null  object
 7   Aircraft Category       22787 non-null  object
 8   Registration Number     22636 non-null  object
 9   Make                    22787 non-null  object
 10  Model                   22787 non-null  object
 11  Number Of Engines       20972 non-null  float64
 12  Engine Type             19682 non-null  object
 13  Far Description         22509 non-null  object
 14  Total Fatal Injuries    20132 non-null  float64
 15  Total Serious Injuries  20051 non-null  float64
 16  Total Minor Injuries    20330 non-null  float64
 17  Total Uninjured         22099 non-null  float64
 18  Weather Condition       20840 non-null  object
 19  Broad Phase Of Flight   5630 non-null   object
 20  Report Status           19088 non-null  object
 21  Publication Date        22050 non-null  object
dtypes: float64(5), object(17)
memory usage: 4.0+ MB

In [37]:
df['Country'] = df['Country'].str.upper()
df['Airport Name'] = df['Airport Name'].str.upper()

In [38]:
print(df['Country'])
print(df['Airport Name'])

5        UNITED STATES
7        UNITED STATES
8        UNITED STATES
12       UNITED STATES
13       UNITED STATES
             ...
88869    UNITED STATES
88873    UNITED STATES
88876    UNITED STATES
88877    UNITED STATES
88886    UNITED STATES
Name: Country, Length: 22787, dtype: object
5                                   NaN
7                    BLACKBURN AG STRIP
8                               HANOVER
12                                  NaN
13                     HEARNE MUNICIPAL
                      ...
88869        LEWISTON MUNICIPAL AIRPORT
88873     FERNANDO LUIS RIBAS DOMINICCI
88876    WICHITA DWIGHT D EISENHOWER NT
88877        BROOKSVILLE-TAMPA BAY RGNL
88886                            PAYSON
Name: Airport Name, Length: 22787, dtype: object